extends layout
block content
	center
		h1 Highscore
		table(class='box')
			tr
				th Name
				th Score
			tr
				td Abhishek Sinha
				td 999
			tr
				td Vivek Sinha
				td 999
		a(href='/menu')
			button Back