extends layout

block content
	img(src='images/title.png', width='240px' , height='240px')
	br
	br
	a(href='/game')
		button(class='btn') Play Demo
	br
	br
	form(method='post' action='login')
		table(class='box')
			tr
				th Username
				td
					input(type='text' name='username' required)
			tr
				th Password
				td
					input(type='password' name='password' required)
			tr
				td(colspan='2')
					input(type='submit' value='Login' class='btn')



	p This is a #{title} game made by #{name}
	p This game is in building stage you can contribute to this project on www.github/abhi1030/pokemon-fan.
	form(method='post' action='/register')
		table(class='box')
			tr
				th Firstname
				td
					input(type='text' name='firstname' required)
			tr
				th Lastname
				td
					input(type='text' name='lastname' required)
			tr
				th Email ID
				td
					input(type='text' name='email' required)
			tr
				th Username
				td
					input(type='text' name='username' required)
			tr
				th Password
				td
					input(type='password' name='password' required)
			tr
				td(colspan='2')
					input(type='submit' value='Register' class='btn')