extends layout

block content
	center
		img(src='images/title.png', width='300px' , height='300px')
		h1= title
		a(href='/menu')
			button Load Game
		p This is a #{title} game made by #{name}
		p This game is in building stage you can contribute to this project on www.github/abhi1030/pokemon-fan.
		