extends layout

block content
	img(src='/images/title.png' width='300px' height='300px')
	br
	br
	a(href='/game')
		button Start Game
	br
	br
	a(href='/pokemon')
		button Edit Pokemon Data
	br
	br
	a(href='/')
		button Back