extends layout

block content
	center
		img(src='/images/title.png' width='200px' height='200px')
		br
		a(href='/game')
			button Start Game
		br
		br
		a(href='/highscore')
			button Highscore
		br
		br
		a(href='/')
			button Back